/*
Icon attributioins:
torch: http://www.freeiconspng.com/free-images/torch-png-35806
key: https://maxcdn.icons8.com/Share/icon/Very_Basic//key1600.png
hero, boss, monster: Sithjester (http://untamed.wild-refuge.net/rmxpresources.php?characters)
sword: http://www.clker.com/clipart-6800.html
shield: http://pngimg.com/download/1256
health potion: http://www.clker.com/clipart-potions.html
locked door: http://www.clipartkid.com/go-back-pix-for-locked-door-clip-art-ivEDru-clipart/
*/

.App {
  text-align: center;
  font-size: .5em;
}


.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.stat-box {
  border: 1px solid #000;
  background-color: #eee;
  font-size: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;

  box-shadow: -8px 8px 20px #333;
}

.health-xp-box {
  align-items: center;
  width: 50%;
  max-width: 500px;


  top: 10px;
  height: 50px;
  min-width: 300px;


}

.health-bar {

}



.level-indicator {
  align-self: flex-start;
}

.equipment-stats-box {
  display: flex;
  align-items: center;
  height: 80px;
  width: 60%;
  min-width: 500px;

  font-size: 1.8em;
}

.weapon-box {

}

.armor-box {

}

.value-text {
  display: inline-block;
  font-size: .75em;
  margin: 5px 0 10px 0;
}

.key-box-container {
  margin-top: -3px;
}

.key-box {
  border: 3px solid #444;
  width: 40px;
  height: 40px;
  margin: 3px auto 0 auto;
}

.has-key-true {
  background: url('../assets/key.png') 0 0 no-repeat;
}


.map-container {

  white-space: nowrap;
}

.tile {
  display: inline-block;
  width: 30px;
  height: 30px;
  /*border: 1px solid #000;*/
  vertical-align: bottom;
  background-color: #eee;
  /*overflow: visible;*/
}

.sprite {
  position: relative;
  left: -5px;
  top: -10px;
  width: 30px;
  height: 45px;
}


.tile-hero {
  background: url('../assets/hero.png') 0 0;
}

.tile-boss {
  background: url('../assets/boss.png') 0 0;
}

.tile-monster {
  background: url('../assets/monster.png') 0 0;
}

.tile-key {
  top: 0px;
  left: 5px;
  width: 40px;
  background: url('../assets/key.png') 0 0 no-repeat;
}

.tile-armor {
  top: 0px;
  left: -5px;
  width: 38px;
  background: url('../assets/armor.png') 0 0 no-repeat;
}

.tile-weapon {
  top: -10px;
  left: 5px;
  width: 38px;
  background: url('../assets/weapon.png') 0 0 no-repeat;
}

.tile-torch {
  top: -6px;
  left: -8px;
  width: 38px;
  background: url('../assets/torch.png') 0 0 no-repeat;
}

.tile-health {
  top: 0px;
  left: -10px;
  width: 38px;
  background: url('../assets/health.png') 0 0 no-repeat;
}

.tile-locked-door {

  top: -10px;
  left: -5px;
  width: 38px;
  height: 50px;
  background: url('../assets/locked_door.jpg') 0 0 no-repeat;
}

.backdrop-dead {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 20, 20, .2);
}

.backdrop-won {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 220, 220, .2);
}

.game-lost-window {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  border: 3px solid #333;
  position: fixed;
  z-index: 1000;
  padding: 5px;
  top: 350px;
  width: 300px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 20px;
}

.game-won-window {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  border: 3px solid #333;
  position: fixed;
  z-index: 1000;
  padding: 5px;
  top: 350px;
  width: 300px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 20px;
}

.btn-window {
  font-size: .75em;
  margin-bottom: 10px;
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  width: 100px;
}
